@{
    ViewBag.Title = "Trang chủ Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Giới thiệu</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Hệ thống quản lí bán hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Blank Page</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Bài tập lớn kết thúc môn học Phát triển ứng dụng WEB</h3>


        </div>
        <div class="card-body">
            <h3 style="margin-left:150px;">THÔNG TIN SINH VIÊN</h3>
            <table border="1" cellpadding="0" cellspacing="0" style="font-size:20px;margin-left:50px;">
                <tr>
                    <td>
                        <table cellpadding="2" cellspacing="10">
                            <tr>
                                <td rowspan="8"><img src="~/Content/Style/images/AnhSV.jpg" width="100" height="100" /></td>
                                <td>Mã số sinh viên:</td>
                                <td>63135350</td>
                            </tr>
                            <tr>
                                <td>Họ và tên:</td>
                                <td>Nguyễn Phúc Sỹ</td>
                            </tr>
                            <tr>
                                <td>Ngày thi:</td>
                                <td>29/11/2023</td>
                            </tr>
                            <tr>
                                <td>Học phần:</td>
                                <td>Phát triển ứng dụng web</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.card-body -->
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
