
@{
    ViewBag.Title = "Giới thiệu";
}
<link rel="stylesheet" type="text/css" href="~/Content/Style/styles/main_styles.css">
<!-- Slider -->
<style>
    .news_section_container {
        margin-top: 180px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }
</style>
<div class="container news_section_container">  
        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <h1 class="title-news">Giới thiệu PSYSHOP</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Nếu đã từng có ý định sở hữu đồng hồ hay các món hàng xa xỉ, chắc chắn bạn sẽ nghe đến PSYSHOP, trang web lớn nhất thế giới về phân phối đồng hồ cao cấp đến bình dân, và giá trên PSYSHOP luôn chỉ bằng 30-80% so với giá niêm yết.</p>
                <b>Một chút tổng quan về PSYSHOP</b>
                <p>Đây là nhà phân phối đồng hồ và hàng hiệu từ 1987 và có trụ sở tại Newyork (Mỹ), tuy nhiên đến 1999 mới mở trang web và đến nay đã có hàng triệu sản phẩm được bán ra, và số lượng khách hàng ước tính hơn 500,000 người đến từ khắp nới trên thế giới, trong đó không ít tín đồ hàng hiệu đến từ Việt Nam.</p>
                <b>Một số giải thưởng tiêu biểu</b> 
                <p>
                    #226 trong The Internet Retailer 2013 Top 500
                </p>

                <p>#201 trong The Internet Retailer 2014 Top 500 </p>

                <p> #161 trong The Internet Retailer 2015 Top 500</p>
                <b>Sản phẩm</b>
                <p>Đồng hồ là mặt hàng phổ biến nhất tại PSYSHOP. Ngoài ra PSYSHOP còn cung cấp hàng loạt mặt hàng khác như Mắt Kính, Túi Xách, Trang Sức, Bút và gần đây nhất là Giày Dép và rất nhiều mặt hàng khác. PSYSHOP. là đối tác của rất nhiều hãng lớn, một số thương hiệu có thể kể đến như Tissot, Frederique Constant, Rolex, Omega, Longines, Montblanc, Rayban, Rado, Citizen, Michael Kors, …</p>
                <p>Tất cả sản phẩm đều 100% chính hãng, chứng thực từ 30 năm nay.</p>
                <b>Mua hàng từ PSYSHOP có khó không?</b>
                <p>
                    Nhu cầu mua hàng PSYSHOP là rất lớn, tuy nhiên vì khoảng cách về địa lý cũng như rất nhiều trở ngại khiến cho việc mua hàng trở nên khó khăn.

                </p>
                <p>Đầu tiên là việc thanh toán, không phải tất cả thẻ thanh toán của Việt Nam đều được chấp nhận bởi PSYSHOP.</p>
                <p>Thứ hai là việc ship hàng, nếu bạn chọn địa chỉ ship hàng là Việt Nam, thì phí ship sẽ rất cao, lên đến hàng trăm USD cho 1 đơn hàng. Ngoài ra, bạn sẽ có nguy cơ rất cao bị đánh thuế tại Hải Quan (thuế dành cho mặt hàng xa xỉ như đồng hồ khoảng 30%-40%). Bởi vậy, nếu như bạn mua một chiếc đồng hồ 1000$, chi phí bạn phải trả có thể lên đến hơn gấp rưỡi.</p>
                <p>Thứ ba, bạn sẽ gặp phải trở ngại về ngôn ngữ, quy trình mua hàng đều bằng Tiếng Anh và qua nhiều bước, có thể sai lầm trong một bước nào đó cũng khiến bạn phải trả thêm chi phí.</p>
                <p>Thứ 4, hàng hoá từ PSYSHOP sẽ không được bảo hiểm nếu rơi vỡ hay trục trặc.</p>   
                <b>Với PSYSHOP, mọi chuyện rất dễ dàng !</b>
                <p>TUY NHIÊN, tất cả những điều đó đã được giải quyết kể từ khi PSYSHOP ra đời. Chúng tôi là đại lý được sự cho phép của PSYSHOP, chuyên phân phối, vận chuyển sản phẩm từ PSYSHOP. về Việt Nam. Tất cả những gì bạn cần làm là lựa chọn sản phẩm và gửi cho chúng tôi (Xem thêm<b>QUY TRÌNH ĐẶT HÀNG</b>)</p>
                <p>Bạn sẽ chỉ phải trả một khoản phí nhỏ để được sở hữu những món hàng hiệu với giá hời mà hoàn toàn yên tâm và chất lượng, quy trình thanh toán và thời gian hàng về.</p>
                <p>Với nhiều năm kinh nghiệm (từ 2015) cùng hàng ngàn khách hàng đã tin tưởng, dòng sản phẩm trải dài từ vài chục USD đến hàng chục ngàn USD, chúng tôi tin rằng bạn cũng sẽ hài lòng với dịch vụ của chúng tôi.</p>
                <i>PSYSHOP Vietnam xin cảm ơn !</i>
            </div>
        </div>
</div>
